* {
	margin: 0px;
	padding: 0px;outline: none;
}

body {
	background: #4E0085;
	width: 960px;
	margin: 0 auto;
}
header h1 {
	margin: 0 0 30px 150px;
	font-size: 60px;
	font-weight: normal;
	line-height: 74px;
	color: #ffffff;
	text-shadow: 0px 0px 10px #ffffff;
}

section {
	border: 1px solid #270644;
	width: 250px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background:  -moz-linear-gradient(19% 75% 90deg,#4E0085, #963AD6);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#4E0085));
	margin:50px auto;
	padding: 20px;
	-moz-box-shadow:0px -5px 300px #270644;
	-webkit-box-shadow:0px -5px 300px #270644;
}
aside {
   	position: absolute;
   	right: 10px;
   	top: 100px;
}
aside ul {list-style-type:none;}

footer{padding: 0 0 0 120px;}
label {
	font-size: 12px;
	font-family: arial, sans-serif;
	list-style-type: none;
	color: #fff;
	text-shadow: #000 1px 1px;
	margin-bottom: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
}

input {
  -webkit-transition-property: -webkit-box-shadow, background;
  -webkit-transition-duration: 0.25s;
  	padding: 6px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 1px solid #ad64e0;
	-moz-box-shadow: 0px 0px 2px #000;
	-webkit-box-shadow: 0px 0px 2px #000;
	margin-bottom: 10px;
	background: #8a33c6;
	width: 230px;
	color: #ffffff;
}

input.submit {
  -webkit-transition-property: -webkit-box-shadow, background;
  -webkit-transition-duration: 0.25s;
	width: 100px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));	
	background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
	color: #fff;
	text-transform: uppercase;
	text-shadow: #000 1px 1px;
	border-top: 1px solid #ad64e0;
	margin-top: 10px;
}

input.submit:hover {
	-webkit-box-shadow: 0px 0px 2px #000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));
	background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
} 

input.submit:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#781bb9), to(#963AD6));
	background:  -moz-linear-gradient(19% 75% 90deg,#963AD6, #781bb9);
}

input:hover {
	-webkit-box-shadow: 0px 0px 4px #000;
	background: #9d39e1;
}
a {color:#ffffff;}
#success {display: none;color:#ffffff;}
#error {display: none;color:#ffffff;font-size:0.85em;}