html {
    background: none repeat scroll 0 0 #EEEEEE;
}
body {
    
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: auto; /* center in viewport */
    width: 520px;
}
#todoapp {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 480px;
}
#todoapp h1 {
    font-size: 277%;
    font-weight: bold;
    line-height: 1;
    padding: 20px 0 30px;
    text-align: center;
    letter-spacing: normal;
    word-spacing: 0;
}
#create-todo {
    position: relative;
}
#create-todo input {
    border: 1px solid #999999;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
    font-size: 184.6%;
    line-height: 1.4em;
    outline: medium none;
    padding: 6px;
    width: 466px;
    border-radius: 5px;
}
#create-todo span {
    left: 50%;
    margin-left: -85px;
    position: absolute;
    width: 170px;
    z-index: 999;
}
#todo-list {
    margin-top: 10px;
}
ol, ul {
    list-style: none outside none;
}
#todo-list li {
    font-size: 184.6%;
    line-height: 1.1em;
    padding: 12px 20px 11px 0;
    position: relative;
    
    margin-bottom: 3px;
    border:1px solid #bbb;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#9BC8FF)) !important;
	background-image: -moz-linear-gradient(0% 100% 90deg, #9BC8FF, #fff) !important;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#9BC8FF', GradientType=0) !important;
	background-color: #fff;
}
#todo-list li:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
#todo-list li.editing {
	padding: 0;
	border-bottom: 0;
}
#todo-list .editing .display, #todo-list .edit {
	display: none;
}
#todo-list .editing .edit {
	display: block;
}
#todo-list .editing input {
	width: 444px;
	border: 0;
	outline: none;
	padding: 10px 7px 0px 27px;
	border: 1px solid #999999;
	border-radius: 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
#todo-list .check {
    float: left;
    margin: 0 10px 0 7px;
    position: relative;
    top: 9px;
}
#todo-list .done .todo-text {
    color: #777777;
    text-decoration: line-through;
}
#todo-list .todo-action {
    cursor: pointer;
    display: none;
    height: 24px;
    position: absolute;
    top: 14px;
    width: 24px;
}
#todo-list li:hover .todo-action {
	display: block;
}
#todo-list .todo-action:hover {
  	background-position: 0 -24px;
}
#todo-list .todo-destroy {
    background: url("/images/destroy.png") no-repeat scroll 0 0 transparent;
    right: 5px;
}
#todo-list .todo-edit {
    background: url("/images/edit.png") no-repeat scroll 0 0 transparent;
    right: 40px;
}
#todo-stats {
	*zoom: 1;
	margin-top: 10px;
	color: #777777;
}
#todo-stats:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
#todo-stats .todo-count {
	float: left;
}
#todo-stats .todo-count .number {
	font-weight: bold;
	color: #333333;
}
#todo-stats .todo-clear {
	float: right;
}
#todo-stats .todo-clear a {
	color: #777777;
	font-size: 12px;
}
#todo-stats .todo-clear a:visited {
	color: #777777;
}
#todo-stats .todo-clear a:hover {
	color: #336699;
}

.ui-tooltip-top:after {
    -moz-transform: rotate(-90deg);
    bottom: auto;
    color: #4F4F4F;
    left: -2px;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 100%;
}
.ui-tooltip:after, .ui-tooltip-top:after, .ui-tooltip-right:after, .ui-tooltip-bottom:after, .ui-tooltip-left:after {
    content: " ";
    display: block;
    font-size: 2em;
    height: 0;
    line-height: 0;
    position: absolute;
}
.ui-tooltip, .ui-tooltip-top, .ui-tooltip-right, .ui-tooltip-bottom, .ui-tooltip-left {
    background-color: #3B3B3B;
    background-image: -moz-linear-gradient(center top , #555555, #222222);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px #000000, 0 0 0 1px #222222 inset, 0 2px #666666 inset, 0 -2px 2px #444444 inset;
    color: #FFFFFF;
    display: inline-block;
    font-family: arial;
    font-size: 12px;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 1px #111111;
}

/* jGrowl style override*/
div.jGrowl div.notify {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#9BC8FF)) !important;
	background-image: -moz-linear-gradient(0% 100% 90deg, #9BC8FF, #fff) !important;
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#fff', EndColorStr='#9BC8FF', GradientType=0) !important;
	background-color: #fff;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	width: 50%;
	color:#000000;	
}
div.jGrowl div.error {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#FF7C75)) !important;
	background-image: -moz-linear-gradient(0% 100% 90deg, #FF7C75, #fff) !important;
	filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#fff', EndColorStr='#FF7C75', GradientType=0) !important;
	background-color: #fff;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	width: 50%;
	color:#000000;	
}
div.jGrowl div.jGrowl-notification div.jGrowl-header {
    font-size: 93%;
    font-weight: bold;
}
div.jGrowl div.jGrowl-closer {display:none !important}